# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
webserv

# Folders
logs/
objs/

*.json

srcs/response/ResponseBuilder.cpp
.vscode
.vscode/settings.json

# Ignore generated HTML but keep the config files
/docs/html/
/docs/latex/
/docs/xml/
/docs/man/
/docs/rtf/
/docs/doxygen_sqlite3.db

# Keep Doxygen configuration and custom assets
!docs/
!docs/*.md
!docs/*.css
!Doxyfile

